@(title: String, assetsFinder: AssetsFinder)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

            <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="@assetsFinder.path("css/icons/icomoon/styles.css")" rel="stylesheet" type="text/css">
        <link href="@assetsFinder.path("css/bootstrap.css")" rel="stylesheet" type="text/css">
        <link href="@assetsFinder.path("css/core.css")" rel="stylesheet" type="text/css">
        <link href="@assetsFinder.path("css/components.css")" rel="stylesheet" type="text/css">
        <link href="@assetsFinder.path("css/colors.css")" rel="stylesheet" type="text/css">
        <link href="@assetsFinder.path("css/override.css")" rel="stylesheet" type="text/css">

        <!-- /global stylesheets -->

            <!-- Core JS files -->
        <script type="text/javascript" src="@assetsFinder.path("js/plugins/loaders/pace.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("js/core/libraries/jquery.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("js/core/libraries/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("js/plugins/loaders/blockui.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("js/plugins/ui/nicescroll.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("js/plugins/ui/drilldown.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("js/plugins/ui/fab.min.js")"></script>
            <!-- /core JS files -->

            <!-- Theme JS files -->
        <script type="text/javascript" src="@assetsFinder.path("js/plugins/ui/prism.min.js")"></script>
        <script type="text/javascript" src="@assetsFinder.path("js/core/app.js")"></script>

        <script type="text/javascript" src="@assetsFinder.path("js/plugins/ui/ripple.min.js")"></script>
            <!-- /theme JS files -->

    </head>

    <body class="navbar-bottom" onload="document.getElementById('search-field').focus();">

            <!-- Page header -->
        <div class="page-header page-header-default">

                <!-- Main navbar -->
            <div class="navbar navbar-inverse navbar-static-top bg-indigo">
                <div class="navbar-header">
                    <a class="navbar-brand" href="Index.html"><img src="@assetsFinder.path("images/logo_light.png")" alt=""></a>

                    <ul class="nav navbar-nav pull-right visible-xs-block">
                        <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-grid3"></i></a></li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse" id="navbar-mobile">

                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-bell2"></i>
                                    <span class="visible-xs-inline-block position-right">Activity</span>
                                    <span class="status-mark border-pink-300"></span>
                                </a>

                                <div class="dropdown-menu dropdown-content">
                                    <div class="dropdown-content-heading">
                                        Activity
                                        <ul class="icons-list">
                                            <li><a href="#"><i class="icon-menu7"></i></a></li>
                                        </ul>
                                    </div>

                                    <ul class="media-list dropdown-content-body width-350">
                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a>
                                            </div>

                                            <div class="media-body">
                                                <a href="#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                                <div class="media-annotation">4 minutes ago</div>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn bg-pink-400 btn-rounded btn-icon btn-xs"><i class="icon-paperplane"></i></a>
                                            </div>

                                            <div class="media-body">
                                                Special offers have been sent to subscribed users by <a href="#">Donna Gordon</a>
                                                <div class="media-annotation">36 minutes ago</div>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn bg-blue btn-rounded btn-icon btn-xs"><i class="icon-plus3"></i></a>
                                            </div>

                                            <div class="media-body">
                                                <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch in <span class="text-semibold">Limitless</span> repository
                                                <div class="media-annotation">2 hours ago</div>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn bg-purple-300 btn-rounded btn-icon btn-xs"><i class="icon-truck"></i></a>
                                            </div>

                                            <div class="media-body">
                                                Shipping cost to the Netherlands has been reduced, database updated
                                                <div class="media-annotation">Feb 8, 11:30</div>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn bg-warning-400 btn-rounded btn-icon btn-xs"><i class="icon-bubble8"></i></a>
                                            </div>

                                            <div class="media-body">
                                                New review received on <a href="#">Server side integration</a> services
                                                <div class="media-annotation">Feb 2, 10:20</div>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs"><i class="icon-spinner11"></i></a>
                                            </div>

                                            <div class="media-body">
                                                <strong>January, 2016</strong> - 1320 new users, 3284 orders, $49,390 revenue
                                                <div class="media-annotation">Feb 1, 05:46</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-bubble8"></i>
                                    <span class="visible-xs-inline-block position-right">Messages</span>
                                </a>

                                <div class="dropdown-menu dropdown-content width-350">
                                    <div class="dropdown-content-heading">
                                        Messages
                                        <ul class="icons-list">
                                            <li><a href="#"><i class="icon-menu7"></i></a></li>
                                        </ul>
                                    </div>

                                    <ul class="media-list dropdown-content-body">
                                        <li class="media">
                                            <div class="media-left">
                                                <img src="@assetsFinder.path("images/placeholder.jpg")" class="img-circle img-sm" alt="">
                                                <span class="badge bg-danger-400 media-badge">5</span>
                                            </div>

                                            <div class="media-body">
                                                <a href="#" class="media-heading">
                                                    <span class="text-semibold">James Alexander</span>
                                                    <span class="media-annotation pull-right">04:58</span>
                                                </a>

                                                <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="@assetsFinder.path("images/placeholder.jpg")" class="img-circle img-sm" alt="">
                                                <span class="badge bg-danger-400 media-badge">4</span>
                                            </div>

                                            <div class="media-body">
                                                <a href="#" class="media-heading">
                                                    <span class="text-semibold">Margo Baker</span>
                                                    <span class="media-annotation pull-right">12:16</span>
                                                </a>

                                                <span class="text-muted">That was something he was unable to do because...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left"><img src="@assetsFinder.path("images/placeholder.jpg")" class="img-circle img-sm" alt=""></div>
                                            <div class="media-body">
                                                <a href="#" class="media-heading">
                                                    <span class="text-semibold">Jeremy Victorino</span>
                                                    <span class="media-annotation pull-right">22:48</span>
                                                </a>

                                                <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left"><img src="@assetsFinder.path("images/placeholder.jpg")" class="img-circle img-sm" alt=""></div>
                                            <div class="media-body">
                                                <a href="#" class="media-heading">
                                                    <span class="text-semibold">Beatrix Diaz</span>
                                                    <span class="media-annotation pull-right">Tue</span>
                                                </a>

                                                <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left"><img src="@assetsFinder.path("images/placeholder.jpg")" class="img-circle img-sm" alt=""></div>
                                            <div class="media-body">
                                                <a href="#" class="media-heading">
                                                    <span class="text-semibold">Richard Vango</span>
                                                    <span class="media-annotation pull-right">Mon</span>
                                                </a>

                                                <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown dropdown-user">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@assetsFinder.path("images/placeholder.jpg")" alt="">
                                    <span>Victoria</span>
                                    <i class="caret"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                                    <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
                                    <li><a href="#"><span class="badge bg-blue pull-right">26</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                                    <li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <!-- /main navbar -->


                <!-- Page header content -->
            <div class="page-header-content">
                <div class="page-title">
                    <h4>Navbars - Multiple</h4>
                </div>

                <div class="heading-elements">
                    <div class="form-control-feedback">
                        <i class="icon-search4 text-size-base"></i>
                    </div>
                    <input class="form-control" type="search" name="search" id="search-field" placeholder="Search ..">
                </div>
            </div>
                <!-- /page header content -->


                <!-- Floating menu -->
            <ul class="fab-menu fab-menu-top-right" data-fab-toggle="click">
                <li>
                    <a class="fab-menu-btn btn bg-pink-300 btn-float btn-rounded btn-icon">
                        <i class="fab-icon-open icon-plus3"></i>
                        <i class="fab-icon-close icon-cross2"></i>
                    </a>

                    <ul class="fab-menu-inner">
                        <li>
                            <div data-fab-label="Compose email">
                                <a href="#" class="btn btn-default btn-rounded btn-icon btn-float">
                                    <i class="icon-pencil"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div data-fab-label="Conversations">
                                <a href="#" class="btn btn-default btn-rounded btn-icon btn-float">
                                    <i class="icon-bubbles7"></i>
                                </a>
                                <span class="badge bg-primary-400">5</span>
                            </div>
                        </li>
                        <li>
                            <div data-fab-label="Chat with Jack">
                                <a href="#" class="btn bg-pink-400 btn-rounded btn-icon btn-float">
                                    <img src="@assetsFinder.path("images/placeholder.jpg")" class="img-responsive" alt="">
                                </a>
                                <span class="status-mark border-pink-400"></span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
                <!-- /floating menu -->

        </div>
            <!-- /page header -->


            <!-- Page container -->
        <div class="page-container">

                <!-- Page content -->
            <div class="page-content">

                    <!-- Main content -->
                <div class="content-wrapper">
                    @content
                </div>
                    <!-- /main content -->

            </div>
                <!-- /page content -->

        </div>
            <!-- /page container -->

    </body>
</html>
